.App {
  text-align: left;
  padding: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #247;
  height:115px;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-family: "Verdana", Helvetica, sans-serif;
}

.App-footer {
  background-color: #247;
  height:50px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  text-align: center;
  font-family: "Verdana", Helvetica, sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.NewPostFormDiv {
  text-align: center;
}
.welcome-container {
  margin: 200px;
}
.title{
  padding: 20px;
  text-align: center;
}

.paragraph {
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.button {
  background: #555;
  align: center;
  color: white;
  font-size: large;
}

.PostPage {
  text-align: left;
  padding: 50px, 50px;
}

.button_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  color: white;
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}
